@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin: 0;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

html {
    height: 100vh;
    width: 100vw;
    background: url("https://dl.dropbox.com/s/7np2zemanv8khda/forestbridge.jpg?raw=1");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    color: #fff;
}

#header {
    height: 40vh;
    line-height: 40vh;
    text-align: center;
    color: #fff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    transition: linear 1s;
    font-size: larger;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    padding: 0.5vh;
    display: none;
    background: #303030;
    border-radius: 5px;
}

nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #AAA;
    text-decoration: none;
    user-select: none;
    transition: 500ms;
    margin: 0;
}

nav a:hover {
    color: #fff;
}

.learn {
    display: inline-block;
    color: rgba(0, 172, 255, 1);
    text-decoration: none;
    padding: 10px;
    border: 0.5px solid rgba(0, 172, 255, 1);
    transition: 500ms linear;
}

.learn:hover {
    background: rgba(0, 172, 255, 1);
    color: #fff;
    transition: 500ms;
}

section {
    text-align: center;
}

div {
    text-align: left;
    width: 70vw;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border: 5px solid #000;
}

div:hover {
    background: rgba(0, 0, 0, 0.8);
    transition: 500ms;
}

.open {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 1vh;
    right: 3vw;
    background: #303030;
    border: 0;
    font-size: larger;
    color: #fff;
}

#scroll {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 1vh;
    right: 15vw;
    background: #303030;
    border: 0;
    font-size: larger;
    color: #fff;
    display: none;
}

h2 {
    border-bottom: 0.5px solid #fff;
    margin-bottom: 1pc;
}

form input {
    border: 0;
    background: transparent;
    height: 40px;
    width: 50vw;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    border-bottom: 0.5px solid #fff;
}

form textarea {
    margin-top: 1em;
    height: 80px;
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: 0;
    border-bottom: 0.5px solid #fff;
    width: 50vw;
}

input:focus,
textarea:focus {
    width: 65vw;
    transition: 1s;
}

footer {
    display: block;
    background: rgba(0, 0, 0, 0.7);
}

footer div {
    border: 0;
    margin-top: 20%;
    background: transparent;
    width: auto;
}

footer div:hover {
    background: transparent;
}

#copy {
    margin-top: 30%;
    background: #000;
    padding: 5px;
    height: 50vh;
    display: block;
    text-align: center;
}

footer a {
    color: dodgerBlue;
    text-decoration: none;
}

@media (max-width: 576px) {
    body {
        font-size: 1rem;
    }
}

@media (min-width:576px) {
    body {
        font-size: 0.8rem;
    }
}

@media (min-width:700px) {
    body {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.7rem;
    }
}